$base: #ff0000;
$important: #531c1c;
$warnig: #ffc0cb;
$border: 0;
$shadow: -16px 11px 10px 0px rgba(0,0,0,0.83);
$principal-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$secondary-font: Verdana, Geneva, Tahoma, sans-serif;