//colors
$background-color: #e9e9e9;
$base-color-palette:  #ff0000;
$color-text: #807c7c;
$white: #ffffff;
$black: #000000;
$menu-background-color: #0c6575;
$hover-color: #2f355e;
$cta: #9cc647;
$card-border-color: #ccc;
$cta-hover-color: #a9de3f;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$base-font: 'Roboto', sans-serif;
